extends layout

block content
  .row.justify-content-center
    img(src = '/images/SSD_LOGO.png').col-1
    h1(id = 'titel').text-center
  p.text-center Hämtat från Arbtesförmedlingen.se
  div(id = 'container').container-fluid